<div class="sticky-top sticky-top-offset mt-1">
    <h5 class="font-weight-bold spanborder"><span>Featured</span></h5>  
    <ol class="list-featured">			
        {% for post in site.tags.featured %}                
            <li class="mb-4">
            <span>
                <h6 class="font-weight-bold">
                    <a href="{{site.baseurl}}{{ post.url }}" class="text-dark">{{ post.title }}</a>
                </h6>
            </span>
            </li>                
        {% endfor %}   
    </ol>
</div> 